<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Personal website showcasing my projects, CV, and contact information.">
	<title>{% block title %}{% endblock %} - datuch.cc</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="base-layout">
		<div class="left-side">

			<header>
				<h1>datuch.cc</h1>
			</header>
			<nav aria-label="Main Navigation">
				<h2>Navigation</h2>
				<ul>

					<li><a href="/" target="_self">
							{% if current_page == 'home' %}
							<strong>Homepage</strong>
							{% else %}
							Homepage
							{% endif %}
						</a></li>
					<li class="visually-hidden"><a href="#projects" target="_self">Projects</a></li>
					<li class="visually-hidden"><a href="#cv" target="_self">CV</a></li>
					<li class="visually-hidden"><a href="#contact" target="_self">Contact</a></li>
				</ul>
			</nav>
			<section id="projects" aria-labelledby="projects-heading">
				<h2 id="projects-heading">Projects</h2>
				<ul>
					<li>
						<span class="project-list-item">
							<a href="/enjhin" target="_self">

								{% if current_page == 'enjhin' %}
								<strong>enjhin</strong>
								{% else %}
								enjhin
								{% endif %}
							</a>
							<span>
								|
							</span>
							<a href="https://github.com/datuchela/enjhin"
								target="_self">(source)</a>
						</span>
					</li>
					<li>
						<span class="project-list-item">
							<a href="/fizziks-soft-body" target="_self">

								{% if current_page == 'fizziks-soft-body'
								%}<strong>fizziks-soft-body</strong>{% else
								%}fizziks-soft-body{% endif %}
							</a>
							<span>
								|
							</span>
							<a href="https://github.com/datuchela/fizziks-soft-body"
								target="_self">(source)</a>
						</span>
					</li>

					<li>
						<span class="project-list-item">
							<a href="/fizziks-rigid-body" target="_self">

								{% if current_page == 'fizziks-rigid-body' %}
								<strong>fizziks-rigid-body</strong>
								{% else %}
								fizziks-rigid-body
								{% endif %}
							</a>
							<span>
								|
							</span>
							<a href="https://github.com/datuchela/fizziks-rigid-body"
								target="_self">(source)</a>
						</span>
					</li>
				</ul>
			</section>

			<section id="cv" aria-labelledby="cv-heading">
				<h2 id="cv-heading">CV</h2>
				<ul>
					<li><a href="/cv" aria-label="View CV online" target="_self">

							{% if current_page == 'cv' %}
							<strong>View CV online</strong>
							{% else %}
							View CV online
							{% endif %}
						</a></li>
					<li><a href="{{ url_for('static', filename='Davit-Narimanidze_CV.pdf') }}"
							download aria-label="Download CV in PDF format"
							target="_self">Download
							CV</a></li>
				</ul>
			</section>

			<section id="contact" aria-labelledby="contact-heading">
				<h2 id="contact-heading">Contact</h2>
				<p>Email: <a href="mailto:davit.narimanidze408@gmail.com"
						target="_self">davit.narimanidze408@gmail.com</a></p>
			</section>

			<footer>
				<p>&copy; 2024 datuch.cc | Davit Narimanidze</p>
			</footer>
		</div>

		<main>
			{% block content %}
			{% endblock %}
		</main>

	</div>
</body>

</html>
