{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<section class="enjhin-section">
	<h1 class="">Homepage</h1>
	<article>
		<p>Homepage doesn't have much to offer, other than being an entry point to this website, so feel free to look around.</p>
		<p>If you like my work, send me an <a href="mailto:davit.narimanidze408@gmail.com">e-mail</a> (davit.narimanidze408@gmail.com)</p>
		<p class="visually-hidden">P.S. I tried my best to make this website accessible. I believe websites should be fully accessible to anyone no matter their disabilities, so if you think there's something lacking, and you would like to get it fixed, feel free to reach out.</p>
	</article>
</section>
{% endblock %}
